body{
	background: black;
	color: white;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3{
	color: red;
	text-align: center;
}

p{
	text-align: center;
	font-size: 18px;
}

ul{
	text-align: center;
	font-size: 18px;
}
